@model RecipeBlog.Models.Chef

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Chef</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subscriptiontype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subscriptiontype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subscriptionstartdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subscriptionstartdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subscriptionenddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subscriptionenddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Userid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Chefid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
