@model IEnumerable<RecipeBlog.Models.Chef>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Chefs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subscriptiontype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscriptionstartdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscriptionenddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subscriptiontype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subscriptionstartdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subscriptionenddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Userid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Chefid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Chefid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Chefid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
