@model RecipeBlog.Models.Pagecontent

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Pagecontent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pagename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contentkey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contentkey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contentvalue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contentvalue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Pagecontentid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
